eel
Flask
requests
pyttsx3
SpeechRecognition
pygame
spotipy
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pytesseract
pvporcupine
pyaudio
pygetwindow
pyautogui
gtts
logging
time
subprocess
json
os
sys